/test.my.testTaskGazprom/node_modules/
/gazpromAPI/node_modules/
/gazpromAPI/.idea/
/test.my.testTaskGazprom/.idea/
.mta/
*.mtar
dist/
mta_archives/
deployer/resources/
Makefile*
mta-*
approuter/*/webapp/
